defaults: &defaults
  allowed_gitlab_urls: 
{% for gitlab in default_gitlabs %}
    - {{gitlab}}
{% endfor %}

development:
  <<: *defaults
  neat_setting: 800

test:
  <<: *defaults
  allowed_gitlab_urls: 
    - 'http://demo.gitlab.com/'

production:
  <<: *defaults
